.benediciary_container {
    margin: 70px 0px;
}

.title {
    font-size: 16px;
    color: #5A6B7F;
    font-family: sans-serif;
    font-weight: bold;
}

.bene_img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bene_name_account {
    font-family: sans-serif;
    font-size: 14px;
}

.bene_name_account p:first-child {
    margin-bottom: 0px;
}


.dropdown_menu {
    padding: 0px !important;
    font-family: sans-serif !important;
}

.dropdown_menu p {
    font-family: sans-serif !important;
    font-size: 14px;
    margin: 0px;
    padding: 10px 20px;
}

.dropdown_menu p:hover {
    background-color: #5A6B7F;
}