.profile_top {
    padding: 50px 0px;
}

.profile_top p:first-child {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #637387;
    margin: 0px;
}

.profile_top p:last-child {
    font-size: 14px;
    font-family: sans-serif;
    color: #637387;
}

.profile_main_container {
    border-radius: 4px;
    border: 1px solid #F5F6FA;
    box-shadow: var(--shadow);
    padding: 40px 0px;
}

.data_row {
    padding: 14px 20px 0px 20px;
    border-bottom: 1px solid #F5F6FA;   
    /* box-shadow: var(--shadow); */
    border-radius: 4px;
}

.first_row {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {  
    .first_row {
        display: block;
    }
}

.first_row p:first-child {
    color: #8094AE;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .first_row p:first-child {
        margin: 0px;
    }
}

.first_row p:last-child {
    color: #657588;
    font-weight: 500;
    font-size: 15px;
    font-family: sans-serif;
}

.second_row {
    flex-direction: end;
    text-align: end;
}

.second_row span {
    padding: 10px;
    border-radius: 50%;
    color: grey;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .second_row {
        padding-top: 10px;
    }
}

.data_row:hover .second_row span {
    background-color: #E5E9F2;
}

.personal_modal_title {
    font-family: sans-serif;
    font-size: 20px;
}

.form-group {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {  
   .form-group {
    margin-bottom: 5px;
   } 
}

.form-group label {
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 9px;
    color: #556172;
}

.form-group input {
    font-size: 14px;
    font-family: sans-serif;
    color: #556172;
}

.form-group input:focus {
    color: #556172;
}

.form-group select {
    font-size: 14px !important;
}

.form-group select option {
    padding: 20px 0px !important;
    font-family: sans-serif !important;
    font-size: 14px !important;
}

.form-group select option:hover {
    background-color: #6BA4FF !important;
    color: white !important;
}

.form-group button {
    background-color: #2C7DFF;
    color: white;
    padding: 10px 20px;
    border: none;
    font-family: sans-serif;
}

@media screen and (max-width: 768px) {
    .form-group button {
        margin-top: 20px;
    }
}








/* kyc verification */
.verification_data_table {
    border: 1px solid #E5E9F2;
    padding: 40px 20px;
    border-radius: 4px;
}

.click_area {
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .click_area {
        width: 100%;
        margin: auto;
    }
}

.click_able_area label {
    width: 100%;
    border: 3px dashed lightblue;
    padding: 50px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: grey;
}

.click_able_area input {
    display: none;
}




/* security .jsx */
.security_container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid #E5E9F2;
    border-bottom: 1px solid #E5E9F2;
}

@media screen and (max-width: 768px) {
    .security_container {
        display: block;
    }
}

.security_title {
    font-family: sans-serif;
}

.security_title p:first-child {
    font-size: 15px;
    color: #364A63;
    font-weight: 550;
    margin-bottom: 0px;
}

.security_title p:last-child {
    margin: 0px;
    font-size: 14px;
    color: #637387;
}

.security_button {
    background-color: #2C7DFF;
    color: white;
    font-family: sans-serif;
    border: 1px solid #2C7DFF;
    padding: 6px 20px;
    font-size: 13px;
    margin-top: 8px;
}

.modal_body {
    padding: 20px 20px !important;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.modal_header p {
    font-size: 20px;
    margin-top: 7px;
}

.modal_header button {
    padding: 0px;
    font-size: 30px;
    margin: 0px;
}

.modal_header button:hover {
    opacity: 0.7    ;
}

.modal_header button:focus {
    box-shadow: none;
    border: unset;
}

.modal_form_data {
    padding: 20px 0px;
    margin-bottom: 10px;
}

.modal_input {
    margin-bottom: 20px;
}

.modal_input label {
    font-family: sans-serif;
    font-size: 14px;
    color: #556172;
}

.modal_input input {
    font-family: sans-serif;
    padding: 10px 20px;
    font-size: 14px;
    color: #637387;
}

.modal_button button {
    padding: 7px 20px;
    border: 1px solid #2C7DFF;
    background-color: #2C7DFF;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    border-radius: 3px;
}