.plans_intro {
    text-align: center;
    padding-top: 40px;
}

.plans_intro p:first-child {
    font-family: sans-serif;
    font-size: 35px;
    color: #364A63;
}

.plans_intro p:nth-child(2) {
    font-family: sans-serif;
    font-size: 17px;
    color: #8591A8;
}

.plans_intro p:nth-child(3) {
    font-family: sans-serif;
    font-size: 14px;
    color: #3D5069;
}

.all_plans {
    margin-top: 80px;
    padding-bottom: 100px;
}

.plan_main_container {
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 3px;
    padding-bottom: 30px;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .plan_main_container {
        margin-top: 10px;
    }
}

.plan_title {
    font-size: 22px;
    text-align: center;
    padding: 30px 0px 20px 0px;
    font-family: sans-serif;
    font-weight: 500;
}

.rate {
    padding: 0px 40px;
    border-bottom: 1px solid #F5F6FA;
}

.rate_amount {
    text-align: center;
}

.rate_amount p:first-child {
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 0px;
}

.rate_amount p:nth-child(2) {
    font-family: sans-serif;
    font-size: 12px;
    color: #8591A8;
}

.plan_details {
    padding: 5px 10px;
}

.plan_details {
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    color: #8591A8;
}

.plan_submit_btn {
    text-align: center;
    padding-top: 15px;
}

.plan_submit_btn button {
    padding: 7px 20px;
    background-color: #2C7DFF;
    border: 1px solid #2C7DFF;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 550;
    color: white;
}

.plan_submit_btn button:focus {
    background-color: #2C7DFF;
    color: white;
}