.tradingview-widget-container {
    height: 380px !important;
    min-height: 370px !important;
    width: 100% !important;
}

.tradingview-widget-container iframe {
    height: 100% !important;
    max-height: 100% !important;
    min-height: 100% !important;
}