.intro_container {
    padding: 50px 0px;
}

.intro_text p:first-child {
    font-size: 16px;
    font-family: sans-serif;
    color: #A5B3C6;
}

.intro_text p:nth-child(2) {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: lighter;
}

@media screen and (max-width: 768px) {
    .intro_text p:nth-child(2) {
        font-size: 30px;
    }
}

.intro_text p:nth-child(3) {
    color: #6B7B96;
    font-size: 16px;
    font-family: sans-serif;
}

.deposit_btn button {
    background-color: #2C7DFF;
    color: white;
    padding: 6px 22px;
    border: 1px solid #2C7DFF;
    border-radius: 4px;
}

.search_container {
    width: 400px;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .search_container {
        width: 300px;
    }
}

.all_transaction_text {
    font-family: sans-serif;
    font-size: 16px;
    color: #364A63;
    padding: 40px 0px;
    font-weight: 500;
}


.nav_links {
    width: 100%;
    border-bottom: 1px solid silver;
    /* padding-bottom: 10px; */
    padding-top: 0px;
    display: flex;
}

.nav_links a {
    margin-right: 40px;
}

.nav_links .notActive {
    font-weight: 500;
    text-decoration: none;
    color: #364A63;
    font-size: 14px;
    padding-bottom: 13px;
}

.nav_links .isActive {
    text-decoration: none;
    border-bottom: 3px solid #2C7DFF;
    padding-bottom: 13px;
    font-size: 14px;
    font-weight: 500;
}



/* transactions here */
.transaction_main_container {
    box-shadow: var(--shadow);
}

.transaction_history_container {
    padding: 14px 20px 0px 20px;
    /* box-shadow: var(--shadow); */
    border-radius: 0px;
    border: 1px solid #F5F6FA;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .transaction_history_container {
        border-radius: 0px;
    }
}

.transaction_text {
    font-size: 20px;
    font-family: sans-serif;
}

.transaction_arrow {
    color: #2C7DFF;
}

.transaction_icon {
    background-color: #E2FBF4; 
    color: #1EE0AC;
    height: 40px;
    width: 40px;
    padding-top: 7px;
    text-align: center;
    border-radius: 50%;
    font-size: 17px;
}

.transaction_icon_red {
    background-color: #FFDCDC; 
    color: lightcoral;
    height: 40px;
    width: 40px;
    padding-top: 7px;
    text-align: center;
    border-radius: 50%;
    font-size: 17px;
}

.transaction_title p:first-child {
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: grey;
}

@media screen and (max-width: 768px) {
    .transaction_title p:first-child {
        font-size: 12px;
    }
}

.transaction_title p:last-child {
    font-family: sans-serif;
    font-size: 12px;
    color: gray;
}

@media screen and (max-width: 768px) {
    .transaction_title p:last-child {
        font-size: 12px;
    }
}


.transaction_title p:last-child span {
    display: inline-block;
    height: 4px;
    width: 4px;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
} 

.transaction_amount {
    padding-top: 10px;
}

.transaction_amount p:first-child {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .transaction_amount p:first-child {
        font-size: 12px;
        font-weight: 500;
    }
}

.modal_header {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

.modal_header p:first-child {
    margin-top: 7px;
    font-family: sans-serif;
    font-size: 20px;
    color: #6B7B96;
}

.modal_content {
    border-top: 1px solid #E2FBF4;
    border-bottom: 1px solid #E2FBF4;
    padding: 20px 0px;
}

.transaction_modal_title {
    font-size: 19px;
    font-family: sans-serif;
    font-weight: lighter;
    color: #364A63;
    padding: 0px 20px;
}

.transaction_modal_title p {
    word-spacing: 4px;
    font-family: cursive;
}

.others {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.others p:first-child {
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-top: 7px;
}

.others p:nth-child(2) {
    font-size: 14px;
    color: #364A63;
    font-weight: 550;
}