.contact_container {
    box-shadow: var(--shadow);
    border-radius: 4px;
    padding: 0px 0px 30px 0px;
    margin-bottom: 200px;
    margin-top: 40px;
}

.contact_table {
    width: 100%;
    text-align: center;
}

.contact_table thead tr th {
    padding: 20px 20px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

.contact_table tbody tr td {
    font-family: sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    border-bottom: 1px solid silver;
}

@media screen and (max-width: 768px) {
    .contact_table thead tr th:nth-child(3), .contact_table tbody tr td:nth-child(3), .contact_table thead tr th:nth-child(4), .contact_table tbody tr td:nth-child(4), .contact_table thead tr th:nth-child(6), .contact_table tbody tr td:nth-child(6), .contact_table thead tr th:nth-child(1), .contact_table tbody tr td:nth-child(1) {
        display: none;
    }
}