.account-layout {
    background-color: #1F2B3A;
    width: 100%;
    height: 1000px;
    padding-top: 40px;
}

.container {
    width: 32%;
    margin: auto;
    padding-top: 30px;
}

@media screen and (max-width: 767px) {
    .container {
        width: 99%;
    }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
    .container {
        width: 70%;
    }
}

.logo {
    width: 45%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 50%;
    }
    
}

.logo img {
    width: 100%;
}