.about-us-hero {
    width: 100%;
    margin: 0;
}

.image-container img {
    width: 100%;
    height: 550px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .image-container img {
        height: 400px;
    }
}

.overlay {
    top: 20vh;
    position: absolute;
    left: 200px;
}

@media screen and (max-width: 768px) {
    .overlay {
        left: 40px;
    }
}

.tiny-line {
    width: 80px; 
    height: 4px; 
    background-color: darkcyan;
    margin: 10px 0px; 
}

.overlay p:first-child {
    font-size: 40px;
    font-weight: 900;
    font-family: sans-serif;
    color: white;
    width: 500px;
}

@media screen and (max-width: 768px) {
    .overlay p:first-child {
        width: 300px;
        font-size: 30px;
    }
}

.overlay p:last-child {
    font-size: 17px;
    color: grey;
    width: 500px;
}

@media screen and (max-width: 768px) {
    .overlay p:last-child {
        width: 300px;
        font-size: 17px;
    }
}

.about_us_absolute {
    margin: 50px 0px;
}

.about_us_card {
    box-shadow: var(--shadow);
    padding: 40px 40px;
    border-radius: 5px;
    height: 350px;
}

.about_icon {
    margin-bottom: 20px;
}

.about_icon span {
    padding: 8px;
    background-color: #A1EEBD;
    border-radius: 50%;
    color: white;
    font-size: x-large;
}

.about_title p {
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
}

.about_message {
    font-family: sans-serif;
    font-weight: lighter;
}

.descriptionImg img {
    width: 100%;
    height: 450px;
}

.descriptionTitle {
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .descriptionTitle {
        padding-top: 40px;
    }
}

.contact_us {
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
}

.support_link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 1s ease-in;
}

.support_link:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.establishment_title {
    font-size: var(--title);
    font-weight: 600;
    font-family: sans-serif;
}

.establishment_hero_con {
    background-color: #EEF7FF;
    padding: 40px 30px;
    margin: 50px 0px;
    border-radius: 3px;
}

.establishment p:first-child {
    font-weight: 700;
    font-size: 19px;
}

.establishment p:last-child {
    font-family: sans-serif;
    font-weight: lighter;
}

.certificate_hero {
    margin: 100px 0px;
}

@media screen and (max-width: 768px) {
    .certificate_hero {
        margin: 50px 0px;
        padding-bottom: 50px;
    }
}

.certificate_text {
    padding-top: 150px;
}

@media screen and (max-width: 768px) {
    .certificate_text {
        padding-top: 50px;
    }
}

.certificate_text p:first-child {
    font-family: sans-serif;
    font-weight: 600;
    font-size: var(--title);
}

.certificate_text p:last-child {
    font-family: sans-serif;
    font-weight: 18px;
    color: grey;
}

.certificateImg img {
    width: 100%;
}