.hero_img {
    position: relative;
}

.hero_img img {
    width: 100%;
    height: 550px;
}

.hero_text {
    position: absolute;
    top: 40vh;
    left: 200px;
}

@media screen and (max-width: 768px) {
    .hero_text {
        left: 20px;
        top: 45vh;
    }
}

.hero_text p:first-child {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #FFDD00;
}

@media screen and (max-width: 768px) {
    .hero_text p:first-child {
        font-size: 30px;
    }
}

.hero_text p:first-child span {
    font-weight: lighter;
    color: white;
}

.tiny-line {
    width: 80px; 
    height: 4px; 
    background-color: darkcyan;
    margin: 10px 0px; 
}

.body_container {
    background-color: #EEF7FF;
    padding: 50px 0px;
}

.agric_desc_con {
    padding: 70px 0px;
}

.agric_icon {
    text-align: center;
    color: #FFDD00;
}

.agric_icon span {
    font-size: 25px;
    font-weight: bold;
}

.agric_text {
    text-align: center;
}

.agric_text p:first-child {
    margin-bottom: 0px;
    font-family: sans-serif;
    color: #1A1A1A;
    font-size: 22px;
    font-weight: 600;
}

.agric_text p:nth-child(2) {
    font-family: sans-serif;
    font-size: 15px;
}

.about_agric_title {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.about_agric_content {
    font-family: sans-serif;
    color: #93979A;
}

.about_agric_content .desc_title {
    font-weight: bold;
}