.main_container {
    padding: 100px 0px;
}

.invest_img {
    width: 75%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .invest_img {
        width: 100%;
    }
}

.invest_texts p:first-child {
    font-size: 45px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .invest_texts p:first-child {
        font-size: 40px;
        margin-top: 20px;
    }
}

.tiny-line {
    width: 80px; 
    height: 4px; 
    background-color: darkcyan;
    margin: 10px 0px; 
}

.tiny_line_text {
    color: darkcyan;
    font-family: sans-serif;
    font-weight: 500;
}

.invest_texts p:last-child {
    font-family: sans-serif;
    margin-top: 30px;
    color: grey;
}