.hero_img img {
    width: 100%;
    height: 550px;
    position: relative;
}

.hero_text {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 400px;
}

.hero_text p {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .hero_text {
        position: absolute;
        top: 300px;
        left: 20px;
        width: 200px;
    }

    .hero_text p {
        font-size: 25px;
    }
}

.tiny-line {
    width: 80px; 
    height: 4px; 
    background-color: darkcyan;
    margin: 10px 0px; 
}

.title {
    font-family: sans-serif;
    font-size: 35px;
    margin: 50px 0px;
    text-align: center;
}

.accordion_title {
    font-family: sans-serif;
    font-size: 13px !important;
}

.accordion_text {
    font-family: sans-serif;
    font-size: 14px;
}

.load_container {
    padding: 100px 0px;
}

.faq_featured img {
    width: 100%;
    height: 500px;
}

.lead_title  {
    padding: 20px 0px;
}

.lead_title p:first-child {
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.lead_title p:last-child {
    font-family: sans-serif;
    font-size: 17px;
    color: grey;
}

.lead_info {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    width: 70%;
}

@media screen and (max-width: 768px) {
    .lead_info {
        width: 100%;
    }
}