.main_container {
    /* background-color: #6C757D; */
    background-color: white;
    box-shadow: var(--shadow);
    padding: 70px 0px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 100px;
}

.logo_hero {
    width: 30%;
    margin: auto;
    padding-top: 50px;
}

.logo_hero img {
    width: 100%;
}

.tiny_line {
    width: 80px; 
    height: 4px; 
    background-color: darkcyan;
    margin: 10px 0px; 
}

.other_links p {
    color: white;
    font-size: 25px;
}

.other_links ul {
    list-style-type: none;
}

.other_links ul li a {
    text-decoration: none;
    color: grey;
    font-size: 15px;
    margin: 10px 0px;
}

.other_links ul li a:hover {
    color: var(--primary);
}

.site_info {
    background-color: black;
    padding: 19px 0px 10px 0px;
    color: var(--primary-color);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}