.hero_img {
    position: relative;
}

.hero_img img {
    width: 100%;
    height: 550px;
}

.hero_text {
    position: absolute;
    top: 40vh;
    left: 200px;
}

@media screen and (max-width: 768px) {
    .hero_text {
        left: 40px;
        top: 45vh;
    }
}

.hero_text p:first-child {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #FFDD00;
}

@media screen and (max-width: 768px) {
    .hero_text p:first-child {
        font-size: 30px;
    }
}

.hero_text p:first-child span {
    font-weight: lighter;
    color: white;
}

.tiny-line {
    width: 80px; 
    height: 4px; 
    background-color: darkcyan;
    margin: 10px 0px; 
}

.body_container {
    background-color: #EEF7FF;
    padding: 100px 0px;
}

.title_description {
    font-family: sans-serif;
    font-size: 16px;
    color: #9DA1A5;
}

.title {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    padding: 60px 0px;
    font-weight: bold;
}