.our-plans-hero img {
    width: 100%;
    height: 550px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 30vh;
    left: 200px;
}

@media screen and (max-width: 768px) {
    .overlay {
        left: 40px;
    }
}

.overlay p:first-child {
    font-size: 17px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
}

.overlay p:nth-child(2) {
    font-size: 40px;
    font-weight: 900;
    font-family: sans-serif;
    color: white;
    width: 500px;
}

@media screen and (max-width: 768px) {
    .overlay p:nth-child(2) {
        width: 300px;
        font-size: 30px;
    }
}

.overlay a button {
    background-color: white;
    color: black;
    padding: 20px 40px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-weight: 600;
    font-family: sans-serif;
}

.overlay a button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .overlay a button {
        padding: 15px 30px;
        font-size: 14px;
    }
}

.our-plans-title {
    margin: 20px 0px;
}

.our-plans-title p {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.plan-card {
    margin-top: 40px;
}

.plan-title {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}

.plan-card ul li {
    font-size: 16px;
    font-family: sans-serif;
    padding: 4px 0px;
    color: gray;
    font-weight: 500;
    text-align: center;
}

.invest-btn {
    text-align: center;
    padding: 30px 0px;
}

.invest-btn a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: 1s ease-in;
}

.invest-btn a:hover span {
    padding-left: 2px;
    transition: 1s ease-in;
}

