.hero_img {
    position: relative;
}

.hero_img img {
    width: 100%;
    height: 550px;
}

.hero_text {
    position: absolute;
    text-align: center;
    /* 2. Position it vertically (original setting) */
    top: 350px; 
    
    /* 3. Use absolute positioning relative to .hero_img */
    position: absolute; 

    /* 4. Center the text content within the .hero_text block */
    text-align: center; 
    
    /* 5. HORIZONTAL CENTERING FIX: These three lines center the BLOCK itself */
    left: 50%; 
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .hero_text {
        top: 300px;
    }
}

.hero_text p {
    font-size: 90px;
    color: #FFDD00;
    font-weight: 700;
    font-family: sans-serif;
}

@media screen and (max-width: 768px) {
    .hero_text p {
        font-size: 40px;
    }
}

.main_body_container {
    background-color: #F1F2EE;
    padding: 80px 0px;
}

.why_choose_us_container {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 200px;
}

@media screen and (max-width: 768px) {
    .why_choose_us_container {
        display: block;
        justify-content: unset;
    }

}

.why_choose_us_img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .why_choose_us_img {
        margin-bottom: 50px;
    }
}

.why_choose_us_img img {
    width: 80%;
}

@media screen and (max-width: 768px) {
    .why_choose_us_img img {
        width: 100%;
    }
}

.why_choose_us_text {
    width: 100%;
}

.why_choose_us_text p {
    width: 80%;
}

.why_choose_us_text p:first-child {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

.tiny-line {
    width: 80px; 
    height: 4px; 
    background-color: darkcyan;
    margin: 10px 0px; 
}

.why_choose_us_text p:last-child {
    font-family: sans-serif;
    font-size: 16px;
    color: #3C3C3B;
}

.expertise p:first-child {
    font-family: sans-serif;
    font-size: 40px;
}

.expertise p:last-child {
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 17px;
    font-family: sans-serif;
    color: #3C3C3B;
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .expertise p:last-child {
        width: 100%;
    }
}