.hero_img img {
    width: 100%;
    height: 550px;
    position: relative;
}

.hero_text {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 400px;
}

.hero_text p:first-child {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.hero_text p:last-child {
    font-family: sans-serif;
    color: lightgray;
    font-size: 17px;
    font-weight: lighter;
}

@media screen and (max-width: 768px) {
    .hero_text {
        position: absolute;
        top: 150px;
        left: 20px;
        width: 250px;
    }

    .hero_text p:first-child {
        font-size: 25px;
    }
}

.tiny-line {
    width: 80px; 
    height: 4px; 
    background-color: darkcyan;
    margin: 10px 0px; 
}

.title {
    font-family: sans-serif;
    font-size: 35px;
    margin: 50px 0px;
    text-align: center;
}

.services_container {
    /* box-shadow: var(--shadow); */
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .services_container {
        margin-top: 40px;
    }
}

.service_img img {
    width: 100%;
    height: 350px;
}

.service_text {
    padding: 20px 10px;
    text-align: center;
}

.service_text p:first-child {
    font-family: sans-serif;
    font-size: 30px;
}

.service_text p:last-child {
    font-family: sans-serif;
    font-size: 16px;
}

.industry_texts {
    padding-top: 50px;
}

@media screen and (max-width: 768px) {
    .industry_texts {
        padding-bottom: 30px;
    }
}

.industry_texts p:first-child {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-left: 20px;
}

.industry_texts p:last-child {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 0px;
}

.industry_texts a {
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    color: grey;
    background-color: lightcyan;
    box-shadow: 10px 10px;
    transition: 1s ease-in-out;
    margin-left: 20px;
}

.industry_texts a:hover {
    padding: 18px 37px;
}

.industry_image img {
    width: 100%;
    height: 300px;
}